  h1{ 
    color:red;
}

*{
border:solid;
}  
.header{
    font-size: medium;
    background-color: blue;

}
 
.grid{
    font-size: larger;
    background-color: black;
    color: bisque;
}

.item{
    font-size: larger;
    background-color: black;
    color:blanchedalmond;
}

.footer{
        font-size: larger;
        background-color: black;
        color:blanchedalmond;
}
